@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .w-inherit {
    width: inherit;
  }
  .h-inherit {
    height: inherit;
  }
  .space-border {
    @apply rounded-[2rem] border border-gray-200 p-2 dark:border-gray-700;
  }
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  h1,
  h2,
  h3 {
    @apply font-bold tracking-tight text-gray-900 dark:text-gray-200;
  }
  h1 {
    @apply text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl;
  }
  h3 {
    @apply text-3xl;
  }
  p {
    @apply text-gray-600 dark:text-gray-400;
  }
  strong {
    @apply font-medium text-gray-900 dark:text-gray-200;
  }
}
