@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .w-inherit {
    width: inherit;
  }
  .h-inherit {
    height: inherit;
  }
  .wrapper {
    @apply mx-auto w-full max-w-4xl;
  }
  .space-border {
    @apply rounded-[2rem] border border-gray-200 p-2;
  }
  .hover-scale {
    @apply transition-transform duration-1000 ease-[cubic-bezier(0.5,0.25,0,1)] hover:scale-125;
  }
}

h1,
h2,
h3 {
  @apply font-bold tracking-tight text-gray-900;
}
